<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Myzmor</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/player.css">
    <link rel="stylesheet" href="../static/css/music-player.css">

    <script src="https://kit.fontawesome.com/25f5f8352f.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="header">
        <img id="logo" src="../static/images/logoBW.png" alt="logo">
        <h1 id="myzmor">Myzmor</h1>

        <div id="hiUser">
            <p>Hi, {{ name }}</p>
            <a href="/logout">Logout</a>
        </div>
        
    </div>


    <div class="sidebar" id="sidebar">
        <a href="/">My Library</a>
        <a href="create_playlist">Create Playlist</a>
        <a href="/savedPlaylists">Saved Playlists</a>

    </div>


    <div id="main" style="margin-left:250px">

        <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>