{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="../static/css/login.css">

<div class="container">
    <h2>Login</h2>
    <form action="/login" method="post">
        <label for="username">Username or Email:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" value="Login">
    </form>
</div>

{% endblock %}